* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --purple: #552583;
  --yellow: #fab624;

  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
}

.inactive {
  display: none;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

/* nav desktop*/
nav {
  display: flex;
  font-size: var(--md);
  background-color: var(--purple);
  justify-content: space-between;
  padding: 0 2%;
}

.logo {
  width: 100px;
}

.icon-menu {
  display: none;
  margin-left: 2%;
  cursor: pointer;
}

.navbar-left {
  display: flex;
  margin-left: 2%;
}

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 6rem;
  color: var(--white);
}

.navbar-left ul {
  margin-left: 1.2rem;
}

.navbar-right ul {
  margin-right: 1.2rem;
}

.navbar-left ul li a{
  text-decoration: none;
  color: var(--white);
  border: 1px solid var(--purple);
  padding: 0.8rem;
  border-radius: 8px;
}

.navbar-left ul li a:hover {
  border: 1px solid var(--white);
  color: var(--yellow);
}

.navbar-shopping-cart {
  position: relative;
  cursor: pointer;
}

.navbar-shopping-cart div {
  width: 1.4rem;
  height: 1.4rem;
  background-color: var(--yellow);
  color: var(--purple);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-search {
  margin-right: 0.8rem;
}

.navbar-user {
  margin-right: 0.5rem;
}

/* nav mobile */

.mobile-menu {
  background-color: var(--white);
  position: absolute;
  top: 60px;
  left: 0;
  padding-left: 2.4rem;
  width: calc(100% - 2.4rem);
}

.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

.mobile-menu ul {
  padding: 0;
  margin: 2.4rem 0 0;
  list-style: none;
}

.mobile-menu-top li a:hover{
 color: var(--yellow);
}

.mobile-menu ul:nth-child(1) {
  border-bottom: 0.5rem solid var(--purple);
}

.mobile-menu ul li {
  margin-bottom: 2.4rem;
}

li .email {
  font-size: var(--sm);
  font-weight: lighter;
}

li .sign-out {
  font-size: var(--sm);
  color: var(--purple);
}

/* aside */
.product-shopping-detail {
  background-color: var(--white);
  width: 35rem;
  padding: 1rem;
  position: absolute;
  right: 0;
}
.title-container {
  display: flex;
  border-top: 0.5rem solid var(--purple);
  border-radius: 0.8rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  justify-content: center; 
}
.title-container img {
  position: absolute;
  left: 4rem;
}
.title {
  font-size: var(--lg);
  font-weight: bold;
}
.order {
  display: grid;
  grid-template-columns: auto 1fr;
  border-bottom: 0.5rem solid var(--purple);
  margin-bottom: 1rem;
  border-radius: 0.8rem;
  padding: 2rem;
}
.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}
.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
  font-size: var(--lg);
}
.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
}

.shopping-cart figure img {
  width: 7rem;
  height: 7rem;
  border-radius: 2rem;
  object-fit: cover;
}
.shopping-cart p:nth-child(2) {
  color: var(--black);
  font-size: var(--md);
}
.shopping-cart p:nth-child(3) {
  font-size: var(--lg);
  font-weight: bold;
}
.primary-button {
  background-color: var(--purple);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}

/* main */

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill , 25rem);
  gap: 2rem;
  place-content: center;
  margin: 2rem 0.5rem 2rem 0.5rem;
}
.product-card {
  width: 24rem;
}
.product-card img {
  width: 24rem;
  height: 24rem;
  border-radius: 2rem;
  object-fit: cover;
}
.product-card .product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.product-card .product-info figure {
  margin: 0;
}

figure .add-shopping-cart{
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.product-card .product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  color: var(--black);
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.product-card .product-info div p:nth-child(2) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--black);
}


@media (max-width: 580px) {
  .icon-menu {
    display: block;
  }
  .navbar-left ul {
    display: none;
  }

  .product-shopping-detail {
    width: 100%;
  }

}

@media (min-width: 581px) {
  .mobile-menu {
    display: none;
  }
}
