* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --purple: #552583;
  --yellow: #fab624;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

/* nav desktop*/
nav {
  display: flex;
  font-size: var(--md);
  background-color: var(--black);
  justify-content: space-between;
  padding: 0 2%;
  border-bottom: 2px solid var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.logo {
  width: 100px;
}

.icon-menu {
  display: none;
  margin-left: 2%;
  cursor: pointer;
}

.navbar-left {
  display: flex;
  margin-left: 2%;
}

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 6rem;
  color: var(--white);
}

.navbar-left ul {
  margin-left: 1.2rem;
}

.navbar-right ul {
  margin-right: 1.2rem;
}

.navbar-left ul li a{
  text-decoration: none;
  color: var(--white);
  border: 1px solid var(--black);
  padding: 0.8rem;
  border-radius: 8px;
}

.navbar-left ul li a:hover {
  border: 1px solid var(--white);
  color: var(--yellow);
}

.navbar-shopping-cart {
  position: relative;
  cursor: pointer;
}

.shopping-count{
  width: 1.8rem;
  height: 1.8rem;
  background-color: var(--yellow);
  color: var(--purple);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  bottom: 1.6rem;
  left: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-search {
  margin-right: 1rem;
}

/* nav mobile */
.mobile-menu {
  background-color: var(--white);
  position: absolute;
  top: 60px;
  left: 0;
  padding-left: 2.4rem;
  width: 100%;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

.mobile-menu ul {
  padding: 0;
  margin: 2.4rem 0 0;
  list-style: none;
}

.mobile-menu-top li a:hover{
 color: var(--yellow);
}

.mobile-menu ul:nth-child(1) {
  border-bottom: 0.5rem solid var(--purple);
}

.mobile-menu ul li {
  margin-bottom: 2.4rem;
}

li .email {
  font-size: var(--sm);
  font-weight: lighter;
}

li .sign-out {
  font-size: var(--sm);
  color: var(--purple);
}

/* aside */
.product-shopping-detail {
  width: 30rem;
  margin: 0.5rem;
  position: fixed;
  top: 9%;
  right: 2%;
  z-index: 100;
}

.title-container {
  display: flex;
  border-top: 0.5rem solid var(--purple);
  border-radius: 0.8rem 0.8rem 0 0;
  padding-top: 1rem;
  padding-bottom: 3rem;
  border-top: 0.5rem solid var(--white);
  margin-top: 1rem;
  justify-content: center; 
  background-color: var(--white);
}

.title-container .arrow {
  position: absolute;
  left: 3.2rem;
  cursor: pointer;
}

.title {
  font-size: var(--lg);
  font-weight: bold;
}

.order-content{
  max-height: 54vh;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--white);
  overflow: auto;
}

.order-content::-webkit-scrollbar{
  width: 0.7rem ;
  background-color: var(--black);
  border-radius: .5rem;
}

.order-content::-webkit-scrollbar-thumb{
  background-color: var(--yellow);
  border-radius: .5rem ;
}

.order {
  display: grid;
  grid-template-columns: auto 1fr;
  border-bottom: 0.5rem solid var(--purple);
  margin-bottom: 1rem;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  padding: 1.5rem;
  background-color: var(--white);
}

.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}

.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
  font-size: var(--lg);
  margin-right: 2rem;
  color: var(--purple);
}

.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 1rem;
  padding-bottom: 1.8rem;
  align-items: center;
}

.shopping-cart .close{
  cursor: pointer;
}

.shopping-cart figure img {
  width: 7rem;
  height: 7rem;
  border-radius: 2rem;
  object-fit: cover;
}

.shopping-cart div p:nth-child(1) {
  color: var(--black);
  font-size: var(--md);
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.shopping-cart div p:nth-child(2) {
  color: var(--black);
  font-size: var(--sm);
  padding-bottom: 0.5rem;
}

.shopping-cart div span:nth-child(4) {
  display: inline-block;
  font-size: var(--md);
  width: 2rem;
  height: 1rem;
  text-align: center;
  font-weight: bold;
}

.shopping-cart div span:nth-child(3), .shopping-cart div span:nth-child(5) {
  display: inline-block;
  font-size: var(--lg);
  width: 2rem;
  height: 2rem;
  text-align: center;
  border-radius: 0.4rem;
  background-color: var(--purple);
  color: var(--white);
  cursor: pointer;
}

.shopping-cart p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}

.primary-button {
  background-color: var(--black);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 4rem;
}

/* Slider */

.slider{
  background-color: var(--purple);
  padding: 7rem 0 0;
}

.slider__conteiner{
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  overflow: hidden;
  width: 95%;
  margin: auto;
}

.slider__body{
  grid-column: 2/3;
  grid-row: 1/2;
  height: 65vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s;
}

.slider__body--show{
  opacity: 1;
  visibility: visible; 
}

.slider__texts-1 div{
  width: 60%;
}


.slider__texts-1{
  height: 100%;
  background: url(../img/slider1.png) 100% 0% no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}

.slider__title-1{
  color: var(--);
  font-size: 4rem;
  text-align: center;
  font-style: italic;
}

.slider__subtitle-1{
  color: var(--white);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  padding-bottom: 1rem;
}

.slider__texts-2{
  height: 100%;
  background: url(../img/slider2.png) 100% 100% no-repeat;
  background-size: contain;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}

.slider__texts-2 div{
  width: 100%;
  }

.slider__title-2{
  color: var(--yellow);
  font-size: 9rem;
  text-align: start;
  font-style: italic;
  padding-top: 1rem;
}

.slider__subtitle-2{
  color: var(--white);
  font-size: 4rem;
  font-style: italic;
  text-align: center;
}

.slider__arrow{
  cursor: pointer;
  width: 60px;
  align-self: center;
}

.slider__arrow:nth-of-type(2){
  justify-self: end;
}

.slider__buttons-containt {
  text-align: center;
  background-color: var(--black);
  padding: 0.4rem;
}

.slider__buttons-containt .button-slide {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background-color: var(--white);
  margin: 0 5px;
}

.slider__buttons-containt .button-slide.active {
  background-color: var(--yellow);
}

/* Products */

.products{
padding-top: 2%;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill , 20rem);
  gap: 2rem;
  place-content: center;
  margin: 2rem 0.5rem 2rem 0.5rem;
}

.product-card {
  width: 20rem;
}

.product-card img {
  width: 100%;
  height: 20rem;
  border-radius: 2rem;
  object-fit: cover;
}

.product-card .product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.product-card .product-info figure {
  margin: 0;
}

figure .add-shopping-cart{
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.product-card .product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  color: var(--black);
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.product-card .product-info div p:nth-child(2), .product-card .product-info div p:nth-child(3) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--black);
}

/* About */

.about{
  display: flex;
  background-color: #fab624;
  min-height: 60vh;
  align-items: center;
  padding: 2% 0px;
}

.about__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 2rem;
}

.about__text{
  justify-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  font-size: var(--md);
  padding: 1rem;
}

.about__text h1{
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}

.about__text p{
  text-align: justify;
  font-size: var(--md);
}

.about__text ul{
  list-style: none;
  justify-self: left;
  width: 100%;
  margin-top: 2rem;
}

.about__text ul li{
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.about__text ul li .about__icon {
  font-weight: bold;
  margin-right: 1rem;
  align-items: center;
}

.about__picture{
  justify-self: end;
  display: flex;
  width: 90%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.about__img{
  min-width: 80%;
  height: 90%;
  object-fit: cover;
  border-radius: 0.5rem;
}



.inactive {
  display: none;
}


@media screen and (max-width: 1000px) {
  .slider__texts-1 div{
    width: 100%;
    }
}

@media screen and (max-width: 630px) {
  .icon-menu {
    display: block;
  }
  .navbar-left ul {
    display: none;
  }

  .product-shopping-detail {
    width: 93%;
  }

  .slider__body{
    height: 50vh;
  }

  .slider__title-1{
    font-size: 3rem;
  }
  
  .slider__subtitle-1{
    color: var(--white);
    font-size: 2rem;
  }


  .slider__title-2{
    font-size: 5rem;
  }

  .slider__subtitle-2{
    font-size: 2.5rem;
  }

  .cards-container {
    grid-template-columns: repeat(auto-fill , 20rem);
    padding: 5% 0px;
  }
  
  .product-card {
    width: 18rem;
  }
  
  .product-card img {
    height: 18rem;;
  }

  figure .add-shopping-cart{
    width: 4rem;
    height: 4rem;
  }

  /* .about{
    padding: 5% 0px;
  } */

  .about__container{
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10% 0px;
  }

  .about__picture{
    justify-self: center;
  }

  .about__text{
    justify-self: center;;
  }

}

@media screen and (min-width: 631px) {
  .mobile-menu {
    display: none; 
  }
}

@media screen and (max-width: 480px) {
  
  .slider__body{
    height: 30vh;
  }
  
  .slider__title-1{
    display: none;
  }
  
  .slider__title-2{
    display: none;
  }

  .slider__texts-1{
    height: 100%;
    background: url(../img/slider1.png) 100% 50% no-repeat;
    background-size: contain;
  }

  .slider__subtitle-1{
    color: var(--white);
    font-size: 2rem;
  }

  .slider__title-2{
    font-size: 5rem;
  }

  .slider__subtitle-2{
    padding-top: 1rem;
  }

  .cards-container {
    grid-template-columns: repeat(auto-fill , 15rem);
    justify-items: center;
  }
  
  .product-card {
    width: 15rem;
  }
  
  .product-card img {
    height: 13rem;;
  }

  figure .add-shopping-cart{
    width: 3rem;
    height: 3rem;
  }

}